<?xml version="1.0"?>
<launch>
    <arg name="host" default="localhost" />
    <arg name="port" default="50000"/>
    <arg name="container_name" default="" />
    <arg name="key" default=""/>
    <node pkg="canopy_client" type="client_node.py" name="canopy_leaflet" output="screen">
        <param name="name" value="canopy_leaflet_$(arg container_name)"/>
        <param name="host" value="$(arg host)"/>
        <param name="port" value="$(arg port)"/>
        <param name="private_key" value="$(arg key)" />
        <param name="description" value="Canopy Leaflet - $(arg container_name)" />
    </node>
</launch>
