<?xml version="1.0"?>
<launch>
    <arg name="host" default="localhost" />
    <arg name="port" default="50000"/>
    <arg name="key" default=""/>
    <node pkg="roscloud_client" type="client_node.py" name="roscloud_server_container" output="screen">
        <param name="name" value="roscloud_server"/>
        <param name="host" value="$(arg host)"/>
        <param name="port" value="$(arg port)"/>
        <param name="private_key" value="$(arg key)" />
        <param name="description" value="ROSCloud Server" />
    </node>
</launch>